@font-face {
  font-family: MarkWebPro-Black;
  src: url("../fonts/markpro/MarkWebPro-Black.eot");
  src: url("../fonts/markpro/MarkWebPro-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'TradeGothicLTPro';src: url('../fonts/tradegothic/2AB61D_2_0.eot');src: url('../fonts/tradegothic/2AB61D_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/tradegothic/2AB61D_2_0.woff') format('woff'),url('../fonts/tradegothic/2AB61D_2_0.ttf') format('truetype');
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,p {
    font-weight: normal;
    margin: 0; padding: 0;
}

body {
    font-family: 'TradeGothicLTPro', Arial,sans-serif;
    padding: 0;
    margin: 0;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.mp {
  font-family: MarkWebPro-Black, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
